html,body {
  padding: 0;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
  /* height: 100vh; */
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  height: 7rem;
  background-color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  box-shadow: 10px 10px 5px 0px #f7f3f3;
-webkit-box-shadow: 10px 10px 5px 0px #000000bf;
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
padding-left: 70px;
}

.airbnb-logo{
  height: 70px;

}

.middle{
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  /* height: 100vh; */
}

.middle > h1{
  padding: 1rem 0 0 2rem;
}

.middle > p{
  padding: 1rem 1rem 0 2rem;
}




.sectionLogo{
  padding: 2rem 5rem;
  width: 80%;
  height: 90%;
  /* max-width: 400px; */
}

.bottom{
  position: relative;

  
}

.bottom-image{
  height: 18rem;
  width: 15rem;
  border-radius: 10px;
  /* position: relative; */
}

.stats-image{
  width: 18px;
  height: 18px;
  
}
bold{
  font-weight: bold;
}

.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin: 1rem;
}
